<div class="wrapper">
	<div class="container">
		<h1>Stupid Coaching</h1>

		<p>Ask your coach anything</p>
		<form action="answer">
			<input class="form-input" type="text" name="question" placeholder="What time is it? When should I go to work? etc.">
			<input class="form-submit" type="submit" value="Ask">
		</form>
	</div>
</div>

